.wrapper {
  padding: 1.5rem;
  background-color: var(--background-panel);
  border-radius: 12px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
  text-align: center;
}

.total {
  font-size: 1rem;
  text-align: center;
  color: var(--text-secondary);
}
