# physical-integration-core/.editorconfig
# Промышленный стандарт для единообразия форматирования во всём проекте.
# Поддерживается большинством IDE (PyCharm, VSCode, IntelliJ, Vim, Emacs).

root = true

# --- Базовые правила для всех файлов ---
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
max_line_length = 100

# --- Python ---
[*.py]
indent_size = 4
indent_style = space
max_line_length = 88
# Совместимость с Black и PEP8
insert_final_newline = true

# --- YAML / YML ---
[*.{yml,yaml}]
indent_size = 2
indent_style = space
insert_final_newline = true

# --- JSON ---
[*.json]
indent_size = 2
indent_style = space
insert_final_newline = true

# --- Docker / Shell / Makefiles ---
[Dockerfile*]
indent_style = space
indent_size = 4

[*.sh]
indent_style = space
indent_size = 4
insert_final_newline = true

[Makefile]
indent_style = tab

# --- Markdown / RST / Docs ---
[*.{md,rst}]
trim_trailing_whitespace = false
indent_size = 2
insert_final_newline = true

# --- Protobuf ---
[*.proto]
indent_style = space
indent_size = 2

# --- TOML (pyproject.toml и др.) ---
[*.toml]
indent_size = 2
indent_style = space

# --- INI / CFG ---
[*.{ini,cfg}]
indent_size = 2
indent_style = space

# --- Logging configs ---
[*.log]
insert_final_newline = false
trim_trailing_whitespace = false

# --- CI/CD configs (GitHub Actions, GitLab, etc.) ---
[*.{yml,yaml}]
indent_size = 2
