# /orchestrator/deployment_scripts/ansible/roles/common/templates/sshd_config.j2

# SSH Daemon configuration

Port 22
Protocol 2

# Используем только протокол SSH версии 2
# Пониженный уровень логирования для безопасности
LogLevel VERBOSE

# Запретим вход root по паролю, разрешим только по ключам
PermitRootLogin no
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

# Разрешить вход по ключам
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys

# Отключить X11 forwarding, если не нужно
X11Forwarding no

# Отключить туннелирование, если не нужно
AllowTcpForwarding no
PermitTunnel no

# Максимальное количество попыток авторизации
MaxAuthTries 3

# Отключить доступ через empty passwords
PermitEmptyPasswords no

# Установить таймаут на отключение бездействующего подключения
ClientAliveInterval 300
ClientAliveCountMax 2

# Лимит на подключение по IP для защиты от перебора
MaxStartups 10:30:60

# Включить использование жесткого шифрования
Ciphers aes256-gcm@openssh.com,chacha20-poly1305@openssh.com,aes256-ctr

# Используем только современные MAC
MACs hmac-sha2-512,hmac-sha2-256

# Логин пользователей ограничен группой 'sshusers' (если нужно)
# AllowGroups sshusers

# Отключить TCP Forwarding, если нужно повысить безопасность
# AllowTcpForwarding no

# Логи в системный журнал
SyslogFacility AUTH
PrintMotd no
UseDNS no

# Поддержка SFTP
Subsystem sftp /usr/lib/openssh/sftp-server

